/*Código armado por La Foca Loca S.A. No modificar*/
/*La foca no es mi jefe, it has no power here*/
@font-face {
  font-family: 'Dusty'; /*a name to be used later*/
  src: url('../fonts/Dusty.ttf'); /*URL to font*/
}

body {
  font-family: 'Dusty';
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}

ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
  width: 40%;
}

.col-60 {
  background: #E84A5F;
  width: 60%;
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#objetivo img {
  width: 100%;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

#juego {
  width: 600px;
  height: 600px;
}

.pieza img{
  width: 100%;
  height: 100%;
}

.pieza {
  width: 33.33%;
  height: 33.33%;
  margin: 0%;
  float: left;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
