/*Código armado por La Foca Loca S.A. No modificar*/
/*La foca no es mi jefe, it has no power here*/

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 940px;
  margin: 2em auto 1em auto;
  min-height: 100%;
  background-image: url(../images/background.png);
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  padding: 5px 0;
  animation: fadein 5s;
}

li::before {
  content: "• ";
  color: #FCEE21;
}

.col-40 h1 {
  font-size: 20px;
  color: #5DD1F9;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

.col-40 {
  padding: 30px;
  color: #5DD1F9;
  width: 40%;
}

.col-60 {
  position: relative;
  overflow: hidden;
}

#flecha{
  font-size: 60px;
  color: #D9E021;
}

.texto-centrado {
  text-align: center;
}

#objetivo img {
  width: 100%;
}

#juego div {
  position: relative;
  text-align: center;
  animation: fadein 2s;
}

#juego {
  width: 600px;
  height: 600px;
  border-radius: 25px;
  overflow: hidden;
}

.pieza img{
  width: 100%;
  height: 100%;
}

.pieza {
  width: 33.33%;
  height: 33.33%;
  margin: 0%;
  float: left;
  border-top: 15;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#footer {
  color: white;
  margin: 0%;
  width: auto;
  font-size: 1em;
  border-radius: 5px;
  text-align: center;
  border: solid 1px white;
  border-radius: 1em;
}

#wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0%;
  background-color: #282E3A;
}

#cartel {
  color: #F2F2F2;
  position: absolute;
  width: 940px;
  margin: auto;
  top: 25%;
  height: 12em;
  padding: 0.5em;
  text-align: center;
  float: none;
  background-color: #39B54A;
}

#cartel p {
  clear: both;
  font-size: 5em;
  margin: 0%;
}

#cartel button {
  background-color: white;
  color: #39B54A;
  font-size: 2em;
  padding: 0.5em;
  margin: 0%;
  border-radius: 0.2em;
  border: none;
}

#cartel button:hover {
  box-sizing: border-box;
  background-color: #39B54A;
  border: solid 2px white;
  color: white;
  cursor: pointer;
  font-size: 2em;
  padding: 0.5em;
  margin: 0%;
}

#iniciar {
  position: fixed;
  top: 40%;
  left: 50%;
  background-color: #39B54A;
  color: white;
  font-size: 2em;
  padding: 0.5em;
  margin: 0%;
  border-radius: 0.2em;
  border: none;
}

#iniciar:hover {
  box-sizing: border-box;
  background-color: white;
  color: #39B54A;
  cursor: pointer;
  font-size: 2em;
  padding: 0.5em;
  margin: 0%;
}